@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  background-image: url('src/assets/african-children-enjoying-life.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}